* {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Nunito Sans', sans-serif;
   color: #FAF9F9;
}
.header {
   background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
   margin-bottom: 186px;
}
.container {
   max-width: 1180px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.text {
   flex: 0 0 580px;
   padding: 170px 0px;
}
h1 {
   font-weight: 800;
   font-size: 120px;
   line-height: 140px;
   text-transform: uppercase;
   margin-bottom: 40px;
}
h1 span {
   margin-bottom: 10px;
   font-weight: 700;
   font-size: 30px;
   line-height: 38px;
   color: #FBB731;
   display: block;
}
.header-text {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   font-size: 19px;
   line-height: 1.4;
   margin-bottom: 42px;
}
.header-btn {
   padding: 20px 45px;
   border-radius: 5px;
   text-decoration: none;
   display: inline-block;
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   color: #000000;
   background-color: #FBB731;
}
.header-btn:hover {
   background-color: #F37335;
   transition-duration: 700ms;
}

.visual {
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
   position: relative;
}
.bg {
   width: 432px;
   height: 100%;
   background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.header-img {
   position: absolute;
   width: 780px;
   right: -150px;
   transition: 1s;
}
.header-img:hover {
   transform: scale(1.02);
}
/* ========================= */
.main{
   margin-bottom: 185px;
}
.banner-one {
   position: relative;
   transition: 1s;
}
.banner-one:hover {
   transform: scale(1.05);
}
.banner-one-img{
   width: 580px;
   border-radius: 5px;
}
.banner-one-content {
   position: absolute;
   top: 0;
   max-width: 378px;
   padding: 80px 55px; 
}
.banner-one-title {
   font-weight: 900;
   font-size: 60px;
   line-height: 76px;
   text-transform: uppercase;
   margin-bottom: 8px;
}
.banner-one-span {
   display: inline-block;
   font-weight: 900;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   padding: 5px 18px;
   border-radius: 14px;
   background-color: #F37335;
   margin-bottom: 4px;
}
.banner-one-text {
   font-family: 'Lato';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}

.banner-second {
   position: relative;
   transition: 1s;
}

.banner-second:hover {
   transform: scale(1.05);
}
.banner-second-img{
   width: 580px;
   border-radius: 5px;
}
.banner-second-content {
   position: absolute;
   top: 0;
   max-width: 365px;
   padding: 105px 50px;
   
}  
.banner-second-title { 
   font-weight: 700;
   font-size: 44px;
   line-height: 56px; 
   margin-bottom: 10px;
}
.banner-second-text {
   font-family: 'Lato';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 20px;
}
.banner-btn {
   text-align: center;
   border-radius: 5px;
   padding: 20px 10px;
   width: 150px;
   text-decoration: none;
   display: inline-block;
   font-weight: 700;
   font-size: 15px;
   text-transform: uppercase;
   color: #000000;
   background-color: #FBB731;
}
.banner-btn:hover {
   background-color: #F37335;
   transition-duration: 700ms;
}
/* ================================= */

.footer {
   background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.top{
   padding-top: 111px;
   padding-bottom: 105px;
}
.footer-logo {
   width: 63px;
   height: 56px;
}
.footer-links {
   max-width: 274px;
   padding-right: 103px;
}
.footer-links-title {
   font-weight: 800;
   font-size: 20px;
   line-height: 38px;
   text-transform: uppercase;
   margin-bottom: 12px;
}
.footer-links-item {
   list-style-type: none;
   font-family: 'Lato';
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
}
li {
   margin-bottom: 9px;
}
li a {
   text-decoration: none;
   color: #FAF9F9;
}
.footer-info {
   max-width: 284px;
   padding-right: 126px;
}
.footer-info-title {
   font-weight: 800;
   font-size: 20px;
   line-height: 38px;
   text-transform: uppercase;
   margin-bottom: 12px;
}
.info-text {
   font-family: 'Lato';
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   color: #DEDEDE;
   margin-bottom: 2px;
}
.date {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 15px;
   line-height: 24px;
   margin-bottom: 12px;
}
address {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 15px;
   line-height: 24px;
}
.footer-phone {
   max-width: 194px;
}
.footer-phone-text {
font-weight: 800;
font-size: 20px;
line-height: 38px;
text-transform: uppercase;
color: #FBB731;
}
